.lazur-bg{
  background-image: url("./patterns/6.png");
}

.progtrckr {
  text-align: center;
  padding-bottom: 16px;
}

.progtrckr li {
  margin-bottom: 10px;
}

table.borderless td {
  border: none !important;
}

html, body, #main-contents {
  /* position: absolute; */
  min-height: 450px !important;
}

.stepZillNextabt {
  position: absolute;
  right: 2%;
  bottom: 0;
}

.stepZillRightabt {
  position: absolute;
  left: 2%;
  bottom: 0;
}

.neibourbt {
  margin-left: 5px;
}

.row-white-bg td {
  background-color: #fff;
}

.row-hover :hover {
  background-color: rgb(228, 228, 228);
}

.row-white-bg th {
  background-color: #fff;
  border: none !important;
}

.extend-row-white-bg td {
  background-color: #fff;
  border: none !important;
}

.extend-row-white-bg th {
  background-color: #fff;
  border: none !important;
}
.widget {
  margin-top: 5%;
}